[Unit]
Description=Discount calculator webapp
After=network.target

[Service]
WorkingDirectory=/home/dietpi/discountwww
ExecStart/home/dietpi/.dotnet/tools/dotnet-serve -p 5002 -d:.

[Install]
WantedBy=multi-user.target